.site-header
{
    background-color: #8a853f;
    color:#ecfdf9;
    height:100vh ;
    font-family: monospace;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}

.site-header-content{
    margin: 10px;
}


.profile-pic
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #f7f1f1 5px 10px 10px;
}

.course-link
{
    color:#ecfdf9;
}

body{
    margin: 0;

}